<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recommend a Song</title>
    <style>
        .checkbox-grid li {
          display: block;
          float: left;
          width: 33%;
      }
    </style>
</head>
<body>
  <h1>Select songs that you like</h1>
  <form id="form" action="/index" method="post" enctype="multipart/form-data">
    <ul class="checkbox-grid">
        {% for song in songs %}
        <li><label for="{{song}}">
            <input name="songselect" id="{{song}}" value="{{song}}" type="checkbox" unchecked>{{song}}
        </label></li>
        {% endfor %}
    </ul>
  <input type="submit" value="Submit">
  </form>
  <h1>Surprising Recommendation</h1>
  <iframe src="https://www.youtube.com/embed/{{youtube_id}}" width="427" height="240" frameborder="0" allowfullscreen></iframe>
  <ul>
      {% for thing in rec %}
        <li>{{ thing }}</li>
      {% endfor %}  
      </ul>
  <h1>Normal Recommendation</h1>
  <iframe src="https://www.youtube.com/embed/{{youtube_idtwo}}" width="427" height="240" frameborder="0" allowfullscreen></iframe>
  <ul>
      {% for thing in rec2 %}
        <li>{{ thing }}</li>
      {% endfor %}  
      </ul>
</body>
</html>